* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #6f171f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(images/Premium\ Photo\ _\ Christmas\ wallpaper_\ 2020\ isolated\ on\ white_.jpg);
}

.container {
  background: #f4ebe3;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  border: 1px solid #f4ebe3;
  border-radius: 5px;
  font-size: 16px;
}

input:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  background: #354037;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #0056b3;
}
